.error{
  color: red;
}


.main_content{
  margin-left: 160px;
  margin-top: 10px;
  margin-right: 10px;
}

.auth_box {
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  width:600px;
  padding: 10px;
  border-radius: 3%;
  height: auto;
  background-color: rgb(247, 241, 244);
}