.sidebar{
  background-color: darkcyan;
  width: 150px;
  height: 180vh;
  float: left;  
}

.sidebar a{
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.sidebar:hover{
  color: orange;
  cursor: pointer;
}

.sidebar:active{
  font-weight: bold;
}
